d6-light/src/main/resources/org/xlm/jxlm/pub/d6light/data/conf/d6l-conf.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema 
	xmlns="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://d6light.data/conf"
	xmlns:tns="http://d6light.data/conf" 
    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
>

<!-- 
 	*****************************************************************
 	Root element
 	*****************************************************************
 -->
     
    <element name="D6LightDataConf">
    	<complexType>
    		<sequence>


    			<element name="DataIn" type="tns:DataInType"
    				maxOccurs="1" minOccurs="1">
    			</element>
    			<element name="Algos" type="tns:AlgosType" maxOccurs="1"
    				minOccurs="1">
    			</element>    		</sequence>
    	</complexType>
    </element>
    
<!-- 
 	*****************************************************************
 	Re-usable definitions
 	*****************************************************************
 -->
     
    <simpleType name="CharType">
		<restriction base="string">
			<length value="1"></length>
		</restriction>
    </simpleType>
    
    <complexType name="AbstractDoerType" abstract="true">
    	<sequence>
    		<element name="Class" type="string" maxOccurs="1"
    			minOccurs="0" />
    		<element name="Params" type="tns:ParamsType" maxOccurs="1"
    			minOccurs="0" />
    	</sequence>
    	<attribute name="id" type="string" use="required" />
    	<attribute name="verbose" type="boolean" use="optional" default="false"></attribute>
    </complexType>

    <!-- 
 	*****************************************************************
 	Data-In types
 	*****************************************************************
 -->
     

    <complexType name="ParamDefinitionsType">
    	<sequence>
    		<sequence>
    			<element name="ParamDefinition" type="tns:ParamDefinitionType"
    				maxOccurs="unbounded" minOccurs="0">
    			</element>
    		</sequence>
    	</sequence>
    </complexType>
    
    <complexType name="ParamDefinitionType">
    	<attribute name="name" type="string" use="required"></attribute>
    </complexType>

    <complexType name="ParamsType">
    	<sequence>
    		<sequence>
    			<element name="Param" type="tns:ParamType"
    				maxOccurs="unbounded" minOccurs="0">
    			</element>
    			<element name="RegexpParam"
    				type="tns:RegexpParamType" maxOccurs="unbounded" minOccurs="0">
    			</element>
    		</sequence>
    	</sequence>
    </complexType>
    
    <complexType name="ParamType">
		<sequence>
			<element name="Value" type="string" maxOccurs="1"
				minOccurs="1" />
			<element name="Regexp" type="tns:RegExpType" maxOccurs="1"
				minOccurs="0">
			</element>
			<element name="Extras" type="tns:ParamsType" maxOccurs="1"
				minOccurs="0">
				<annotation>
					<documentation>
						Optional extra parameter
					</documentation>
				</annotation>
			</element>
		</sequence>
		<attribute name="name" type="string" use="required"></attribute>
    </complexType>


	<complexType name="RegexpBasedNumberType">
		<sequence>
			<element name="DefaultValue" type="long" maxOccurs="1" minOccurs="1" nillable="true"></element>
			<element name="RegExpValue" type="tns:RegExpBasedType"
				maxOccurs="unbounded" minOccurs="0">
			</element>
		</sequence>
	</complexType>

	<complexType name="RegExpBasedType">
		<sequence>
			<element name="RegExp" type="string" maxOccurs="1" minOccurs="1"></element>
			<element name="Value" type="long" maxOccurs="1" minOccurs="1"></element>
		</sequence>
	</complexType>

    <complexType name="DataInType">
    	<sequence>
  		   <element name="DataCsvFormat" type="tns:DataCsvFormatType"/>
    	</sequence>
    </complexType>

<!-- 
****************************************************************
  Algorithms
****************************************************************
-->

    <complexType name="AbstractAlgoType" abstract="true">
    	<complexContent>
    		<extension base="tns:AbstractDoerType">
		    	<sequence>
		    		<element name="LaunchDecorateLots" type="boolean"
		    			maxOccurs="1" minOccurs="0">
		    		</element>
		    		<element name="MaxLinksPerLot" type="long"
		    			maxOccurs="1" minOccurs="0" nillable="true">
		    			<annotation>
		    				<documentation>
		    					Max number of links by lot, typically
		    					50000
		    				</documentation>
		    			</annotation>
		    		</element>
		    		<element name="MaxNbPartitionsPerBenchForLots"
		    			type="tns:RegexpBasedNumberType" maxOccurs="1" minOccurs="0">
		    		</element>
		    		<element name="MaxLinksPerBenchForLots"
		    			type="tns:RegexpBasedNumberType" maxOccurs="1" minOccurs="0">
		    		</element>
		    	</sequence>
    		</extension>
		</complexContent>
    </complexType>
	
	
	<complexType name="AbstractDividerType" abstract="true">
    	<complexContent>
    		<extension base="tns:AbstractAlgoType">
		    	<sequence>
		    	</sequence>
     		</extension>
    	</complexContent>
    </complexType>
    
    <complexType name="TopologicalDividerType">
    	<complexContent>
    		<extension base="tns:AbstractDividerType">
		    	<sequence>
		    		<element name="Singles" maxOccurs="1"
		    			minOccurs="0">
		    			<complexType>
		    				<sequence>
		    					<element name="AllocateSingles"
		    						type="boolean" maxOccurs="1" minOccurs="0">
		    					</element>
		    					<element
		    						name="AllocateSinglesIfParentContainerRegEx"
		    						type="tns:RegExpType" maxOccurs="1" minOccurs="0">
		    					</element>
		    				</sequence>
		    			</complexType>
		    		</element>
		    		<element name="BomSimplifiers" maxOccurs="1" minOccurs="0">
		    			<complexType>
		    				<sequence minOccurs="0" maxOccurs="unbounded">
		    					<choice>
			    					<element name="Components"
			    						type="tns:BomSimplifierType" maxOccurs="1" minOccurs="0" />
			    					<element name="Kits"
			    						type="tns:BomSimplifierType" maxOccurs="1" minOccurs="0" />
		    					</choice>
		    				</sequence>
		    			</complexType>
		    		</element>
		    	</sequence>
		    	<attribute name="key" type="tns:TopologicalDividerKeyType"
    				use="required" />
    		</extension>
    	</complexContent>
    </complexType>

    <simpleType name="TopologicalDividerKeyType">
		<restriction base="string">
			<enumeration value="BillOfMaterial"></enumeration>
		</restriction>
	</simpleType>
	
    <complexType name="AlgosType">
    	<sequence>
    		<choice maxOccurs="unbounded" minOccurs="0">	   			<element name="TopologicalDivider"
	   				type="tns:TopologicalDividerType" maxOccurs="1"
	   				minOccurs="0" />
			</choice>
    	</sequence>
    </complexType>


    <complexType name="RegExpType">
    	<simpleContent>
    		<extension base="string">
    			<attribute name="negate" type="boolean" use="optional"
    				default="false">
    			</attribute>
    		</extension>
    	</simpleContent>
    </complexType>

    <complexType name="RegexpParamType">
		<sequence>
			<element name="Regexp" type="tns:RegExpType" maxOccurs="1" minOccurs="1"></element>
		</sequence>
    	<attribute name="name" type="string" use="required"></attribute>
    	<attribute name="value" type="string" use="required"></attribute>
    </complexType>


    <complexType name="FilterType">
    	<sequence>
    		<element name="regExpExcludes" type="tns:RegExpType"
    			maxOccurs="1" minOccurs="0">
    		</element>
    	</sequence>
    </complexType>

    <complexType name="ActualTypeLocatorType">
    	<sequence>
    		<element name="Class" type="string" maxOccurs="1" minOccurs="1"></element>
    	</sequence>
    </complexType>

    <complexType name="DataCsvFormatType">
    	<sequence>
    		<element name="Norm" maxOccurs="1" minOccurs="1" type="tns:DataCsvFormatNormEnum"/>
    		
    		<element name="Separator" type="tns:CharType" maxOccurs="1"
    			minOccurs="1">
    		</element>
    		<element name="Delimiter" type="tns:CharType" maxOccurs="1"
    			minOccurs="0">
    		</element>
    		<element name="QuoteMode" maxOccurs="1" minOccurs="1" type="tns:DataCsvFormatQuoteModeEnum"/>

    		<element name="Escape" type="tns:CharType" maxOccurs="1"
    			minOccurs="0">
    		</element>
    		
    		<element name="CommentMarker" type="tns:CharType"
    			maxOccurs="1" minOccurs="0">
    		</element>
    		<element name="CommentRegexp" type="string" maxOccurs="1"
    			minOccurs="0">
    		</element>
    		<element name="HasHeader" type="boolean" maxOccurs="1" minOccurs="0"></element>
    	</sequence>
    </complexType>

	<simpleType name="DataCsvFormatNormEnum">
		<restriction base="string">
			<enumeration value="DEFAULT"></enumeration>
			<enumeration value="EXCEL"></enumeration>
			<enumeration value="INFORMIX_UNLOAD"></enumeration>
			<enumeration value="INFORMIX_UNLOAD_CSV"></enumeration>
			<enumeration value="MY_SQL"></enumeration>
			<enumeration value="POSTGRESQL_CSV"></enumeration>
			<enumeration value="POSTGRESQL_TEXT"></enumeration>
			<enumeration value="RFC4180"></enumeration>
			<enumeration value="TDF"></enumeration>
		</restriction>
	</simpleType>

	<simpleType name="DataCsvFormatQuoteModeEnum">
		<restriction base="string">
			<enumeration value="ALL"></enumeration>
			<enumeration value="ALL_NON_NULL"></enumeration>
			<enumeration value="MINIMAL"></enumeration>
			<enumeration value="NON_NUMERIC"></enumeration>
			<enumeration value="NONE"></enumeration>
		</restriction>
	</simpleType>
	

    <complexType name="AbstractBomSimplifierType" abstract="true">
    	<sequence>
    		<element name="Class" type="string" maxOccurs="1" minOccurs="0"></element>
    		<element minOccurs="1" maxOccurs="1"
    			name="SpecificBusinessLot" type="boolean">
    			<annotation>
    				<documentation>
    					If true move components lot in a business
    					component lot belong to parent lot
    				</documentation>
    			</annotation>
    		</element>
    		<element name="SingleExtractorLot" type="boolean"
    			maxOccurs="1" minOccurs="0">
    		</element>
    	</sequence>
    </complexType>
    
    <complexType name="BomSimplifierType">
    	<complexContent>
    		<extension base="tns:AbstractBomSimplifierType">
		    	<sequence>
                    <element minOccurs="1" maxOccurs="1"
		    			name="LinksTrigger" type="int">
		    		</element>
		    	</sequence>
    		</extension>
    	</complexContent>
    </complexType>
    
</schema>